* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  padding: 18px 35px;
  background-color: #fd6e0a;
  font-weight: bold;
  color: white;
  font-size: 20px;
  border: 5px solid #FD6E0A;
  cursor: pointer;
}
/* main style */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  background-color: #fff8f3;
  margin: 51px 0;
}
nav {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
nav h1 {
  font-size: 45px;
  font-weight: bolder;
}
.color-orange {
  color: #fd6e0a;
}
nav .menu {
  display: flex;
  align-items: center;
  gap: 51px;
}
nav .menu a {
  font-size: 20px;
  color: #474747;
}
