* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  padding: 18px 35px;
  background-color: #fd6e0a;
  font-weight: bold;
  color: white;
  font-size: 20px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  cursor: pointer;
}
/* main style */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  background-color: #fff8f3;
  padding-top: 51px;
  background-image: url(/images/developer.png), url(/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
nav {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
nav h1 {
  font-size: 45px;
  font-weight: bolder;
}
.color-orange {
  color: #fd6e0a;
}
nav .menu {
  display: flex;
  align-items: center;
  gap: 51px;
}
nav .menu a {
  font-size: 20px;
  color: #474747;
}
/* banner part */
#banner {
  margin-left: 180px;
  margin-right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}
.baner-content {
  max-width: 585px;
}
.baner-content h3 {
  font-size: 45px;
  color: #474747;
  font-weight: bold;
}
.baner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: black;
}
.baner-content p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 33px;
}
.banner-img img {
  max-width: 584px;
  vertical-align: middle;
  margin-top: 46px;
}
/* about */
.about {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  background-color: #fff8f3;
  padding: 131px 156px;
}
.about-heading {
  text-align: center;
}
.about-heading h4 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}
.about-heading p {
  line-height: 30px;
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
.about-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.about-info .info h2 {
  line-height: 30px;
  font-weight: 20px;
  color: #757575;
}
.about-info .info h3 {
  line-height: 30px;
  font-weight: 20px;
  color: hsl(0, 2%, 20%);
}
